.debug * {
    border: 1px solid rgb(255, 0, 200);
}

    /*  ALTEZZE  */
img {
    width: 100%;
}
 

.main-header .row {
    min-height: 90px;
}
/*
#jumbo {
    min-height: 590px;
    text-align: center;
}
*/
.jumbo-card-container {
    min-width: 200px;
}

.star-icon::before {
    content: '';  
    width: calc(1.3rem + 5vw);
    height: 3px;
    position: absolute;
    top: 50%;
    right: 50px;
    /*transform: translateY(-50%);*/
    background: currentColor;
    display: block;
}

.star-icon::after {
    content: '';  
    width: calc(1.3rem + 5vw);
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50px;
    /*transform: translateY(-50%);*/
    background: currentColor;
    display: block;
}

.ms_portfolio-card-container {
    /*flex-direction: column;*/
    width: calc(95% / 1);
}

  /*  NON FUNZIONA E NON SO PERCHè 
  
  
.ms_portfolio-card-container img::after {
    content: '';
    background-color: #1ABC9C;
    opacity: 0.0;
    transition: opacity 0.2s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
}

.ms_portfolio-card-container:hover .ms_portfolio-card-container img::after {
    opacity: 0.3;
}

*/

.ms_social-icon li{
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 0 25px;
 }

.ms_social-icon a{
    text-decoration: none;
    color: currentColor;
 }

.ms_social-icon i{
   border: 1px solid currentColor;
   border-radius: 50%;
   padding: 6px; 
}

    /*  COLORI  */

.ms_color-white {
    color: white;
}

.ms_color-green {
    color: #1ABC9C;
}

.ms_bg-blue {
    background-color: #2C3E50;
}


.ms_bg-green {
    background-color: #1ABC9C;
}

.ms_bg-red {
    background-color: #BA4B63;
}

.ms_bg-l-blue {
    background-color: #1EA4B6;
}

.ms_bg-l-black {
    background-color: #140F0F;
}

.ms_bg-lm-blue {
    background-color: #1C83C1;
}

.ms_bg-el-blue {
    background-color: #0E38B5;
}

.ms_bg-beige {
    background-color: #CCB2A3;
}

.ms_bg-d-blue {
    background-color: #3A546D;
}


    /*  MEDIA QUERY  */




@media screen and (min-width: 576px) { 
    .ms_portfolio-card-container {
        /*flex-direction: column;*/
        width: calc(95% / 2);
    }

    .ms_col-count {
        column-count: 2;
    }
}


@media screen and (min-width: 992px) {

    .ms_portfolio-card-container {
        /*flex-direction: column;*/
        width: calc(95% / 3);
    }
    
}